{% extends "templates/base.twig" %}

{% block content %}
<div class="welcome">
	<div>
		<h1>Hola Coder</h1>
		<p class="text-white text-center text-9xl mb-8">
			<i class="ci ci-code-labs"></i>
		</p>
		<a
			href="https://github.com/dsaza/front-core-coder"
			target="_blank"
			rel="noopener noreferrer"
			class="text-white py-2 px-6 rounded border border-white"
		>Documentación</a>
	</div>
</div>
{% endblock %}
